<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'/>
        <meta http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-inline';" />
        <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0'/>
        <title>APP</title>
        <link rel='stylesheet' href='../static/style.css'/>
    </head>
    <body class='app'>
        <section class='search'>
            <input type='input' name='q' placeholder='Search'/>
            <label/>
        </section>
        <section class='clock'>
        </section>
        <section class='settings'>
            <button class='ipc-startup'>Open at Login</button>
            <button class='ipc-update'>Check for Update</button>
        </section>
        <section class='exit'>
            <button class='ipc-exit'>Quit</button>
        </section>

        <script>require('../renderer.js')</script>
        <style> ::selection { background:blue; } </style>
    </body>
</html>
