<!DOCTYPE html>
<html>
    <head>
        <title>APP</title>
        <meta charset='utf-8'/>
        <meta http-equiv='Content-Security-Policy' content="script-src 'self' 'unsafe-inline';" />
        <link rel='stylesheet' href='../static/style.css'/>
    </head>
    <body class='app'>
        <section class='search'>
            <input type='input' name='q' placeholder='Search'/>
            <label/>
        </section>
        <section class='clock'>
        </section>
        <section class='settings'>
            <button class='btn twentyfourhour'>24 Hours</button>
            <button class='btn compact'>Compact View</button>
            <button class='btn startup'>Open at Login</button>
            <button class='btn update'>Check for Update</button>
        </section>
        <section class='about'>
            <button class='btn about'>About <span class='app-name'></span></button>
            <button class='btn support'>Support Us</button>
        </section>
        <section class='exit'>
            <button class='btn exit'>Quit <span class='app-name'></span></button>
        </section>

        <script>require('../renderer')</script>
        <style> ::selection { background:blue; } </style>
    </body>
</html>
